body{
    margin: 0 auto;
    padding: 0;
    border: 0;
    background: rgb(36, 0, 78);
    font-size: 20px;
    overflow-x: hidden;
}
.grid{
    display: grid;
    grid-template-columns: repeat(12, 100px);
    grid-template-rows: repeat(6, 100px);
    gap: 5px;
}
.gridNav{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}
.gridModal{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, 50%);
}



.modalBuilding{
    grid-column: span 2;
    text-align: center;
}
.modalBuilding h3{
    font-weight: bolder;
    font-size: 1.5em;
    color: #18ab29;
}
.modalBuilding img{
    width: 30%;
}
.modalBuilding button{
    background-color:#44c767;
	border-radius:14px;
	border:4px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:14px 34px;
	text-decoration:none;
    text-shadow:0px 1px 0px #2f6627;
}
.modalBuilding button:hover{
    transition: all .5s ease-in-out;
    background-color:#5cbf2a;
}
.modalBuilding button:active{
    position:relative;
	top:1px;
}
button:disabled, button:disabled:hover{
  border: 3px solid #ff0000;
  background-color: #fd4e4e;
  color: #ffffff;
}


nav{
    background: rgb(0, 90, 8);
    padding: 5px 0;
    color: #fefefe;
    font-weight: bolder;
    font-size: 1.1em;
}
nav h1{
    color: #fefefe;
    font-size: 2em;
    margin: 0;
    text-decoration: underline;
    grid-column: 12/13;
    grid-row: 1;
}
nav ul.u1{
    grid-column: 1/4;
}
nav ul.u2{
    grid-column: 4/7;
}
nav ul.u3{
    grid-column: 7/10;
}
nav ul>li{
    list-style: none;
    padding: 3px 0; 
    color: #fefefe;
    font-weight: 100;
    font-size: 0.8em;
}
nav ul>li a{
    text-decoration: none;
    color: #fefefe;
    padding: 0px;
    font-weight: bold;
    font-size: 1.3em;
    margin: 100px;
}
nav ul>li a:hover{
    color: gold;
    transition: all .5s ease-in-out;
}
table,tr,td, img{
    text-align: center;
}
table{
    width: 100%;
}

main{
    padding: 20px;
    grid-column: 1/12;
    width: 100vw;
    height: 100vh;
    background: rgb(0, 223, 0);
}
.square{
    grid-column: span 1;
    grid-row: span 1;
    background: green;
    border-radius: 15px;
}
.emptyPlace:hover{
    cursor: pointer;
    transition: all .1s ease-in-out;
    -webkit-box-shadow: inset 0px 0px 25px 0px rgba(0,0,0,0.41);
-moz-box-shadow: inset 0px 0px 25px 0px rgba(0,0,0,0.41);
box-shadow: inset 0px 0px 25px 0px rgba(0,0,0,0.41);
}
.building{
    cursor: pointer;
}
.building:hover{
    transition: all .175s ease-in-out;
    -webkit-box-shadow: inset 0px 0px 25px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: inset 0px 0px 25px 0px rgba(0,0,0,0.3);
    box-shadow: inset 0px 0px 25px 0px rgba(0,0,0,0.3);
}